---
import Layout from '@/components/Layout.astro';
import PostGrid from '@/components/PostGrid.astro';
import PostCard from '@/components/PostCard.astro';
import { loadPosts } from '@/content-loaders/post';
import Pagination from '@/components/ui/Pagination.astro';
import { POSTS_PER_PAGE } from '@/consts';

const { posts, totalPages } = await loadPosts({ limit: POSTS_PER_PAGE });
---

<Layout title="About Me" description="Lorem ipsum dolor sit amet" image="/images/blog-placeholder-about.jpg">
  <section class="container">
    <Pagination page={1} totalPages={totalPages} />
    <PostGrid>
      {posts.map((post) => <PostCard post={post} />)}
    </PostGrid>
    <Pagination page={1} totalPages={totalPages} />
  </section>
</Layout>

<style lang="scss">
  section {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
</style>
