---
import Layout from '@/components/Layout.astro';
import { loadAbout } from '@/content-loaders/about';
import { render } from 'astro:content';

const about = await loadAbout();
const { Content } = await render(about);
---

<Layout title="About Me" description="Lorem ipsum dolor sit amet" image="/images/blog-placeholder-about.jpg">
  <section class="container" transition:name="about">
    <Content />
  </section>
</Layout>
