---
import Layout from '@/components/Layout.astro';
import { render, getEntry } from 'astro:content';

const about = await getEntry('about', 'about');
if (!about) throw new Error('About entry not found');
const { Content } = await render(about);
---

<Layout title="About Me" description="Lorem ipsum dolor sit amet" image="/images/blog-placeholder-about.jpg">
  <section class="container">
    <Content />
  </section>
</Layout>
