---
import Hero from '@/components/Hero.astro';
import Layout from '@/components/Layout.astro';
import PostCard from '@/components/PostCard.astro';
import PostGrid from '@/components/PostGrid.astro';
import { POSTS_PER_PAGE } from '@/consts';
import { loadHero } from '@/content-loaders/hero';
import { loadPosts } from '@/content-loaders/post';

const [{ posts }, hero] = await Promise.all([loadPosts({ limit: POSTS_PER_PAGE }), loadHero()]);
---

<Layout>
  <Hero {...hero} />

  <PostGrid>
    <h2 slot="title">Recent Posts</h2>
    {posts.map((post) => <PostCard post={post} />)}
  </PostGrid>
</Layout>

<style lang="scss">
  section {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
</style>
