---
import Hero from '@/components/Hero.astro';
import Layout from '@/components/Layout.astro';
import BlogCard from '@/components/BlogCard.astro';
import BlogGrid from '@/components/BlogGrid.astro';
import { BLOGS_PER_PAGE } from '@/consts';
import { loadHero } from '@/content-loaders/hero';
import { loadBlogs } from '@/content-loaders/blog';

const [{ blogs }, hero] = await Promise.all([loadBlogs({ limit: BLOGS_PER_PAGE }), loadHero()]);
---

<Layout>
  <Hero {...hero} />

  <BlogGrid>
    <h2 slot="title">Recent Blogs</h2>
    {blogs.map((blog) => <BlogCard blog={blog} />)}
  </BlogGrid>
</Layout>

<style lang="scss">
  section {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
</style>
