---
const today = new Date();
---

<footer>
  <div class="container">
    &copy; {today.getFullYear()} Personal blog. All rights reserved.
  </div>
</footer>

<style>
  footer {
    background-color: var(--bg-dark);
  }
</style>
