---
import heroBg from '@/assets/hero_bg.webp';
import HeroImage from './ui/HeroImage.astro';
import { getEntry, render } from 'astro:content';

const hero = await getEntry('hero', 'hero');
if (!hero) throw new Error('Hero entry not found');
const { Content } = await render(hero);
---

<section>
  <HeroImage src={hero.data.image.src} class="image">
    <div class="text">
      <Content />
    </div>
  </HeroImage>
</section>

<style lang="scss">
  .text {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: center;
    height: 100%;
    color: var(--text);

    h1 {
      font-size: 2rem;
    }

    p {
      font-size: 1.15rem;
    }
  }
</style>
