---
import type { CollectionEntry } from 'astro:content';
import { render } from 'astro:content';
import HeroImage from './ui/HeroImage.astro';

type Props = CollectionEntry<'hero'>;

const hero = Astro.props;

const { Content } = await render(hero);
const { data } = hero;
---

<section>
  <HeroImage src={data.image.src} class="image">
    <div class="text">
      <Content />
    </div>
  </HeroImage>
</section>

<style lang="scss">
  .text {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: center;
    height: 100%;
    color: var(--text);

    h1 {
      font-size: 2rem;
    }

    p {
      font-size: 1.15rem;
    }
  }
</style>
