---
import heroBg from '@/assets/hero_bg.webp';
import HeroImage from './ui/HeroImage.astro';
---

<section>
  <HeroImage src={heroBg.src} class="image">
    <div class="text">
      <h1>Welcome to my blog!</h1>
      <p>Here I share my thoughts and ideas.</p>
    </div>
  </HeroImage>
</section>

<style lang="scss">
  .text {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: center;
    height: 100%;

    h1 {
      font-size: 2rem;
      margin-bottom: 0.25rem;
      color: var(--text-dark);
    }

    p {
      font-size: 1.15rem;
      color: var(--text-dark);
    }
  }
</style>
