---
import type { HTMLAttributes } from 'astro/types';
import { Image } from 'astro:assets';

type Props = HTMLAttributes<'div'> & {
  src: string;
};

const { src, ...props } = Astro.props;
---

<div class="wrapper" {...props} transition:name="hero-image" transition:animate="fade">
  <div class="container">
    <div class="images">
      {
        Array.from({ length: 3 }, (_, i) => (
          <Image
            fit="cover"
            widths={[480, 720, 1080]}
            src={{
              format: 'webp',
              src,
              width: 1440,
              height: 400,
            }}
            alt="hero"
          />
        ))
      }
    </div>

    <div class="text">
      <slot />
    </div>
  </div>
</div>

<style lang="scss">
  .wrapper {
    --max-height: 18rem;
    width: 100vw;
    overflow-x: hidden;
    max-height: var(--max-height);
  }
  .container {
    position: relative;
  }
  .images {
    display: flex;
    position: relative;
    max-height: var(--max-height);

    img {
      width: 100%;
      object-fit: cover;
      max-height: var(--max-height);
    }

    :first-child,
    :last-child {
      position: absolute;
      filter: blur(10px);
    }

    :first-child {
      transform: translateX(-99%) rotateY(180deg);
    }

    :last-child {
      transform: translateX(99%) rotateY(180deg);
    }
  }
  .text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: var(--max-height);
  }
</style>
