---
import Button from '@/components/ui/Button.astro';
---

<Button class="btn">
  <a href="/blog">Show More</a>
</Button>

<style lang="scss">
  .btn {
    width: max-content;
  }
  a {
    color: var(--text);
    text-decoration: none;
    font-size: 1.25rem;
  }
</style>
